[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=lliurex-openmeeting-remote startup
GenericName=lliurex-openmeeting-remote-startup
Name[es]=Administrador servicio remoto LliureX Openmeetings
Name[ca_ES@valencia]=Administrador servici  remot LliureX Openmeetings
Name[ca]=Administrador servici  remot LliureX Openmeetings
Name[ca_ES.UTF-8@valencia]=Administrador servici remot LliureX Openmeetings
Comment=App to enable/disable remotely lliurex-openmeetings service
Comment[es]=Aplicación para activar/desactivar de forma remota lliurex-openmeetings. 
Comment[ca]=Aplicació per a activar/desactivar de forma remota lliurex-openmeetings
Comment[ca_ES@valencia]=Aplicació per a activar/desactivar  de forma remota lliurex-openmeetings
Comment[ca_ES.UTF-8@valencia]=Aplicació per a activar/desactivar de forma remota lliurex-openmeetings
Exec=pkexec lliurex-openmeetings-remote.zmd
Icon=lliurexmeet
Terminal=false
Type=Application
NoDisplay=True
Categories=GNOME;Application;Utility;
