Source: lliurex-openmeetings
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Angel Berlanas Vicente <lliurex_devel2@edu.gva.es>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>, Alfons Lloret Sananton <lliurex_devel5@edu.gva.es>, Enrique Medina Gremaldos <lliurex_devel4@edu.gva.es>, David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>
Build-Depends: llxsrchelper,debhelper (>= 7.0), llxcfg-dev, libgtkmm-3.0-dev, g++, librsvg2-bin, zero-dev
Standards-Version: 3.9.3

Package: lliurex-openmeetings
Architecture: any
Depends: lliurex-openmeetings-data, lliurex-openmeetings-remote, python, python-mysqldb, mysql-server, libav-tools, lliurex-swftools, xpdf, xvfb, imagemagick, ghostscript, sox, n4d, n4d-server-plugins (>= 0.84.2), lliurex-sgbd, default-jre, ${misc:Depends}, llxcfg-runtime
Conflicts: zero-lliurexlab-installer
Description: Lliurex Openmeetings
 This package allows user to install and configure openmeetings

Package: lliurex-openmeetings-remote
Architecture: all
Breaks: lliurex-openmeetings (<=0.23)
Replaces: lliurex-openmeetings(<=0.23)
Depends: ${misc:Depends},  python
Description: Lliurex Openmeetings Remote GUI
 GUI to enable Lliurex Lab remotely

Package: lliurex-openmeetings-installer
Architecture: any
Depends: n4d, n4d-server-plugins (>= 0.84.2), llxcfg-runtime, epi-gtk
Conflicts: zero-lliurexlab-installer
Replaces: lliurex-openmeetings (<<0.29), lliurex-openmeetings-common (<<0.29)
Breaks: lliurex-openmeetings (<<0.29), lliurex-openmeetings-common (<<0.29)
Provides: lliurex-openmeetings-common
Description: Lliurex Openmeetings
 This package allows user to install openmeetings from zero-center
