[Unit]
Description=Starts openmeetings server
After=apache2.service
Requires=apache2.service
Wants=kurento-media-server

[Service]
Type=simple
ExecStart=/usr/sbin/lliurex-openmeetings-service start
Restart=always
RestartSec=2
RestartPreventExitStatus=0
StartLimitInterval=200
StartLimitBurst=9

[Install]
WantedBy=multi-user.target
Alias=lliurex-openmeetings.service
